HOOPILOT_API_KEY=change-me
HOOPILOT_AUTH_FILE=
HOOPILOT_GITHUB_CLIENT_ID=
HOOPILOT_GITHUB_DOMAIN=github.com
HOOPILOT_LOG_FORMAT=pretty
HOOPILOT_LOG_LEVEL=info
COPILOT_API_BASE_URL=https://api.githubcopilot.com
